<div>
  @for (postObject of postList; track postObject.id;) {
  <div class="post">
    <div>
      <h2>{{ postObject.title }}</h2>
      @if (postObject.content) {
        <p>{{ postObject.content }}</p>
      } @else {
        <p>No content available for this post.</p>
      }
    </div>


    @switch (postObject.type) {
      @case ('Private') {
        <span class="badge private">Private</span>
      }
      @default {
        <span class="badge public">Public</span>
      }
    }

    <img [src]="postObject.image" alt="post-{{ postObject.title }}" />
  </div>
  } @empty {
    <p>No posts available.</p>
  }
</div>
