.postlist {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.postlist-title {
  font-size: 2rem;
  font-weight: 700;
  border-bottom: 2px solid #e5e7eb; /* gray-200 */
  color: #111827; /* slate-900 */
}

input {
  border: none;
  border-bottom: 2px solid #d1d5db; /* gray-300 */
  width: 25%;
  font-size: 1rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

input:focus {
  outline: none;
  border-bottom: 2px solid #3b82f6; /* blue-500 */
}
