<div class="post" appHighlight>
  <div class="post-content">
    <h2 class="post-title">{{ post().title }}</h2>
    <p class="paragraph">{{ post().content || "-" }}</p>

    <div class="like-container">
      <img
        (click)="likePost($event)"
        class="like-icon"
        src="../../../../assets/like-button.png"
        alt="like icon"
      />
      <small>{{ post().likes }}</small>
    </div>
  </div>

  <span
    [class]="post().type === 'Private' ? 'private badge' : 'public badge'"
    >{{ post().type }}</span
  >

  <img
    [class]="'post-img'"
    [src]="post().image"
    alt="post-{{ post().title }}"
  />
</div>
